@media only screen and (max-width: 600px) {

    .portrait
    {
        width: 100%; 
        object-fit: cover;
        object-position: 0px 0px
    }

    .LanguageBar
    {
      background-color: black;
      height: 70px;
      width: 100%; 
      position: sticky;
      top: 0px; left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .shadow 
    {
        box-shadow: 1px 10px 10px;
    }

    .App-logo 
    {
        height: 40vmin;
        pointer-events: none;
    }

    section
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        background-color: yellow;
    }

    input
    {
        height: 100px;
    }

    article
    {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}